<header id="gh-navigation" class="gh-navigation is-{{#match navigationLayout "Logo on the left"}}left-logo{{else match navigationLayout "Stacked"}}stacked{{else}}middle-logo{{/match}}{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-navigation-inner gh-inner">

        <div class="gh-navigation-brand">
            <a class="gh-navigation-logo is-title" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            {{> "search-toggle"}}
            <button class="gh-dark-mode-toggle gh-dark-mode-mobile gh-icon-button" aria-label="Toggle dark mode" title="Toggle dark mode">
                <svg class="gh-dark-mode-icon" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20 L12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z" fill="currentColor"/>
                </svg>
            </button>
            <button class="gh-burger gh-icon-button" aria-label="Menu">
                {{> "icons/burger"}}
                {{> "icons/close"}}
            </button>
        </div>

        <nav class="gh-navigation-menu">
            {{navigation}}
            {{#unless @site.members_enabled}}
                {{#match navigationLayout "Stacked"}}
                    {{> "search-toggle"}}
                {{/match}}
            {{/unless}}
        </nav>

        <div class="gh-navigation-actions">
            <button class="gh-dark-mode-toggle gh-dark-mode-desktop gh-icon-button" aria-label="Toggle dark mode" title="Toggle dark mode">
                <svg class="gh-dark-mode-icon" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20 L12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z" fill="currentColor"/>
                </svg>
            </button>

            {{#unless @site.members_enabled}}
                {{^match navigationLayout "Stacked"}}
                    {{> "search-toggle"}}
                {{/match}}
            {{else}}
                {{> "search-toggle"}}
                <div class="gh-navigation-members">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a href="#/portal/signin" data-portal="signin">Sign in</a>
                            {{#unless hideSubscribeButton}}
                                <a class="gh-button" href="#/portal/signup" data-portal="signup">Subscribe</a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-button" href="#/portal/signin" data-portal="signin">Sign in</a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-button" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            {{/unless}}
        </div>

    </div>
</header>